@{
    ViewData["Title"] = "Контакты";
}
<h2>@ViewData["Title"]</h2>

<address>
    Улица Пушкина<br />
    Дом Колотушкина 2<br />
    <abbr title="Телефон">Т:</abbr>
    89656075824
</address>

<address>
    <strong>Email:</strong> <a href="mailto:Support@example.com">emzilh@mail.ru</a><br />
</address>
