@model ServiceViewModel

@{
    ViewData["Title"] = "CreateServiceType";
}

<h2>Создание услуги</h2>

<form asp-controller="ServiceType" asp-action="CreateServiceType" method="post">
    <div class="form-horizontal">
        <partial name="../Shared/_ServiceTypePartial.cshtml" model="@Model"/>
        <hr />
        <div class="col-md-12">
            <input type="submit" class="btn btn-success" value="Сохранить"/>
            <a asp-controller="ServiceType" asp-action="ServiceTypes" class="btn btn-danger">Назад</a>
        </div>
    </div>
</form>
