@model PositionTypeViewModel

@{
    ViewData["Title"] = "CreatePositionType";
}

<h2>Создание должности</h2>

<form asp-controller="PositionType" asp-action="CreatePositionType" method="post">
    <div class="form-horizontal">
        @Html.EditorFor(m => m, "../Shared/_PositionTypePartial.cshtml")
        <div class="col-md-12">
            <input type="submit" class="btn btn-success" value="Сохранить"/>
            <a asp-controller="PositionType" asp-action="GetPositionTypes" class="btn btn-danger">Отменить</a>
        </div>
    </div>
</form>