@model PositionTypeViewModel

@{
    ViewData["Title"] = "PositionType";
}

<h2>Должность</h2>

<form asp-controller="PositionType" asp-action="UpdatePositionType" method="post">
    <input type="hidden" asp-for="Id"/>
    <div class="form-horizontal">
        @Html.EditorFor(m => m, "../Shared/PositionTypePartial.cshtml")
        <div class="col-md-12">
            <input type="submit" class="btn btn-success" value="Сохранить изменения"/>
            <a asp-controller="PositionType" asp-action="GetPositionTypes" class="btn btn-danger">Отменить</a>
        </div>
    </div>
</form>