@model WorkerViewModel

@{
    ViewData["Title"] = "CreateWorker";
}

<h2>Создание врача</h2>

<form asp-controller="Worker" asp-action="CreateWorker" method="post">
    <div class="form-horizontal">
        @Html.EditorFor(m => m, "../Shared/_WorkerPartial.cshtml")
        <div class="col-md-12">
            <input type="submit" class="btn btn-success" value="Сохранить"/>
            <a asp-controller="Worker" asp-action="Workers" class="btn btn-danger">Отменить</a>
        </div>
    </div>
</form>
