@model WorkerViewModel

@{
    ViewData["Title"] = "Worker";
}

<h2>Рабочий</h2>

<form asp-controller="Worker" asp-action="UpdateWorker" method="post">
    <div class="form-horizontal">
        <input asp-for="Person.Id" type="hidden" />
        <input asp-for="PersonId" type="hidden" />
        @Html.EditorFor(m => m, "../Shared/_WorkerPartial.cshtml")
        <div class="col-md-12">
            <input type="submit" class="btn btn-success" value="Сохранить изменения" />
            <a asp-controller="Worker" asp-action="Workers" class="btn btn-danger">Отменить</a>
        </div>
    </div>
</form>