@model IEnumerable<WorkerViewModel>

@{
    ViewData["Title"] = "Workers";
}

<h2>Работники</h2>

<div class="container">
    <div class="row">
        <hr />
        <a asp-controller="Worker" asp-action="CreateWorker" class="btn btn-success">Создать работника</a>
        <table class="table">
            <tr>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Должность</th>
            </tr>
            <tr>
                @foreach (var worker in @Model)
                {
                    <td>@worker.Person.LastName</td>
                    <td>@worker.Person.FirstName</td>
                    <td>@worker.Person.MiddleName</td>
                    <td>@worker.Positions.First().Name</td>
                    <td><a asp-controller="Worker" asp-action="GetWorker" class="btn btn-primary">Открыть</a></td>
                }
            </tr>
        </table>
    </div>
</div>